<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Script">
            <add name="Python" path="*.cgi" verb="*" modules="CgiModule" scriptProcessor="C:\Anaconda\python.exe %s %s" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
